.conteneur_filtre_supplementaire,
.conteneur_filtre,
.conteneur_liste,
.conteneur_pagination {
	position:absolute;
	left:10px;
    right:10px;
}
.conteneur_filtre_supplementaire {
    height:50px;
    overflow:hidden;
    margin: 0;
    padding: 0;
}
.conteneur_filtre {
    height:56px;
    overflow: hidden;
}
.conteneur_filtre.gestion_px {
    overflow-x: auto;
}
.conteneur_filtre.avec_encart {
	top: 60px;
}
.conteneur_liste {
    position:absolute;
    top:56px;
    left:10px;
    right:10px;
    bottom:20px;
    overflow-y:scroll;
}
.conteneur_liste.avec_encart {
    top: 116px;
}
.conteneur_pagination {
    height:18px;
    *height:20px;
    bottom:0;
    text-align:right;
    font:12px Verdana;
}
.conteneur_pagination table,
.conteneur_pagination table td {
	border: none;
	background: #F3F3F3;
}
.entete_div_colonne {
    border: none;
}

.btn_validation_formulaire {
    position: absolute;
    right: 10px;
    top: 12px;
}
.numero_page {
    width: 40px;
}
.nombre_par_page {
    width: 50px;
}
.fleche_gauche{
    background: url(/images/filtre_liste/gauche.gif) no-repeat;
    width: 22px;
    height: 16px;
    cursor:pointer;
}
.fleche_droite{
    background: url(/images/filtre_liste/droite.gif) no-repeat;
    width: 22px;
    height: 16px;
    cursor:pointer;
}
.img_ordre{
    position:absolute;
    cursor:pointer;
    background: url(/images/filtre_liste/tri_aucun.gif) no-repeat center center;
    width: 13px;
    height: 16px;
    top: 8px;
    left: 6px;
}
.img_ordre.tri_desc {
    background: url(/images/filtre_liste/tri_bas.gif) no-repeat center center;
}
.img_ordre.tri_asc {
    background: url(/images/filtre_liste/tri_haut.gif) no-repeat center center;
}

.entete_div_colonne .select_nom {
    position: absolute;
    right: 0;
    top: -27px;
    width: 90%;
}
.input_filtre_bk .select_nom {
	position: absolute;
    left: -160px;
    width: 122px;
}

.select_operateur {
	width: 32px;
}

.filtre_input {
	width:100%;
	border:solid 1px #aaa;
	border-radius: 6px;
	position:absolute;
	height: 16px;
	text-indent: 2px;
}
input.desactive, select.desactive {
	visibility: hidden;
	width: 0;
	height: 0;
}

.filtre_div_input{
	position:absolute;
	height:21px;
	top:35px;
	left:2px;
	right:5px;
}
/* Calendrier */
.bloc_filtre_supplementaire img,
.filtre_div_input img {
	height: 13px;
    right: 1px;
    top: 2px;
}

.filtre_select{
	width:100%;
	border:0;
	border:solid 1px #ccc;
	position:absolute;
	height: 18px;
}

.filtre_div_entete{
	position:absolute;
	top:0;
	left:0;
	right:16px;
	bottom:0;
	overflow:hidden;
	border-width:1px;
	border-left:0; 
	border-radius: 5px 5px 0 0;
}

.filtre_libelle {
	padding-top:8px;
	background-color: #1194E0;
	color: #FFF;
	overflow: hidden;
	text-overflow: ellipsis;
	height:25px;
	position:absolute;
	font-size: 1.2em;
	text-align:center;
	width:100%;
	font-weight:bold;
}

.entete_div_colonne{
	position:absolute;
	top:0;
	border-left-width: 0;
	border-right-width: 0;
	overflow: hidden;
	height:100%;
    background-color: #FFF;
}

.liste_div_colonne{
	position:absolute;
	top:0;
	border-left-width: 1px;
	border-right-width: 1px;
	overflow: hidden;
	background-color:#ffffff;
}
.liste_div_colonne > div {
	left:0;
	width:100%;
	text-indent: 4px;
}
.liste_div_colonne > div.type_compteur,
.liste_div_colonne > div.type_int,
.liste_div_colonne > div.type_float,
.liste_div_colonne > div.type_int2,
.liste_div_colonne > div.type_float2 {
	text-align: right;
}
.liste_div_colonne > div.type_date,
.liste_div_colonne > div.type_datetime,
.liste_div_colonne > div.type_checkbox,
.liste_div_colonne > div.type_image {
	text-align: center;
}

.liste_div_colonne >.redimensionne{
    position:absolute;
    right:0;
    height:100%;
    border-left:solid 1px transparent;
    overflow:hidden;
    width:2px;
    cursor:e-resize;
    color:#ffffff;
}

.liste_div_paire, .liste_div_impaire {
	position:absolute;
    border-bottom-width: 1px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
	padding-top:2px;
	height:17px;
	cursor: pointer;
}
.liste_div_paire{
	background-color:#F3F3F3;
}

.liste_div_impaire{
	background-color: #FFF;
}

tr.ligne_paire:hover td,
tr.ligne_impaire:hover td,
div.ligne_hover {
	background-color: #099ECA;
	color: #FFF;
}

.liste {
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
	overflow-x: auto;
}

#export_excel {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 18px;
	cursor: pointer;
	background: url(/images/filtre_liste/export.png) center 4px no-repeat;
}
.img_ordre{
	position:absolute;
	cursor:pointer;
}

.div_filtre_liste_paging{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    width: 160px;
    margin: auto;
    text-align:center;
}

.div_filtre_liste_paging span {
	font-size:11px;
	line-height:11px;
	display: inline-block;
}
.bloc_filtre_supplementaire {
    position:absolute;
    top: 10px;
    bottom: 0;
}
.libelle_filtre_bk {
	text-align: right;
	color: #005477;
    font-weight: bold;
    padding: 2px 10px 0 0;
    position:absolute;
    left:0;
    bottom:0;
}
.input_filtre_bk {
    position:absolute;
    right:0;
    bottom:0;
}
.conteneur_liste.attente {
	background: url(/images/layout/interface/loader.gif) no-repeat center center;
}
.div_pas_resultat {
	font: 12px Verdana;
	text-align: center;
}