.conteneur_filtre_supplementaire {
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:40px;
    overflow:hidden;
}
.conteneur_filtre {
    position:absolute;
    left:0;
    right:0;
    height:69px;
    overflow:hidden;
}
.entete_div_colonne {
    border-left:solid 1px #ffffff;
    border-top:solid 1px #ffffff;
}
.conteneur_liste {
    position:absolute;
    top:69px;
    left:0;
    right:0;
    bottom:20px;
    overflow-y:scroll;
}
.conteneur_pagination {
    position:absolute;
    height:18px;
    *height:20px;
    left:0;
    right:0;
    bottom:0;
    text-align:right;
    font:12px Verdana;
}

.numero_page {
    width: 40px;
}
.nombre_par_page {
    width: 50px;
}

.bordure{
    border: 0px solid #808080;
}

.degrade{
    background-color: #AAABB0;
}

.filtre_input{
    border: 1px solid #AAA;
    width: 100%;
    height: 16px;
}

.filtre_div_input{
    top:41px;
    position:absolute;
    left:2px;
    right:5px;
}

.filtre_select{
    width:100%;
    border:0;
    border:solid 1px #ccc;
    position:absolute;
    height: 18px;
}

.filtre_div_entete{
    position:absolute;
    top:0;
    left:0;
    right:16px;
    bottom:0;
    overflow:hidden;
    border-width:1px;
    border-left:0; 
}

.redimensionne{
    position:absolute;
    right:0;
    height:100%;
    border-left:solid 1px transparent;
    overflow:hidden;
    width:2px;
    cursor:e-resize;
}

.filtre_libelle {
    padding-top:4px;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    position:absolute;
    font-family: Arial;
    font-size: 12px;
    text-align:center;
    width:100%;
    text-transform : uppercase;
    font-weight:bold;
}

.entete_div_colonne{
    position:absolute;
    top:0;
    border-left-width: 1px;
    border-right-width: 1px;
    overflow: hidden;
    background-color:#d8d0d0;
    height:100%;
}

.liste_div_colonne{
    position:absolute;
    top:0;
    border-left-width: 1px;
    border-right-width: 1px;
    overflow: hidden;
    background-color:#ffffff;
}

.liste_div_paire{
    position:absolute;
    border-bottom-width: 1px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height:17px;
    font-family: Verdana;
    font-size: 12px;
    padding-top:2px;
    background-color:#ffffff;
    color:#505050;
}


.liste_div_paire a{
    color:#000000;
}

.liste_div_impaire{
    position:absolute;
    border-bottom-width: 1px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height:17px;
    font-family: Verdana;
    font-size: 12px;
    padding-top:2px;
    background-color: #f8f0f0;
    color:#505050;
}

.liste_div_impaire a{
    color:#000000;
}

.liste {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: auto;
}

#export_excel{
    cursor:hand;
}

.div_xls{
    position:absolute;
    top:0;
    right:0;
    width:15px;
    bottom:0;
    padding-top:4px;
    overflow:hidden;
    border-width:1px;
    border-left-width:0;
}

.fleche_gauche{
    background: url(/images/filtre_liste/gauche.gif) no-repeat;
    width: 22px;
    height: 20px;
    cursor:pointer;
}
.fleche_droite{
    background: url(/images/filtre_liste/droite.gif) no-repeat;
    width: 22px;
    height: 20px;
    cursor:pointer;
}
.img_ordre{
    position:absolute;
    cursor:pointer;
    background: url(/images/filtre_liste/table_tri.gif) no-repeat;
    width: 9px;
    height: 9px;
}
.img_ordre.tri_desc {
	background: url(/images/filtre_liste/table_tri_desc.gif) no-repeat;
}
.img_ordre.tri_asc {
	background: url(/images/filtre_liste/table_tri_asc.gif) no-repeat;
}

.non_selectionnable{
    font-style: italic;
    background-color: grey;
    color: white;
}

.div_filtre_liste_paging{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    width: 160px;
    margin: auto;
    text-align:center;
}

.div_filtre_liste_paging table{
    margin: auto;
}

.div_filtre_liste_paging td{
    font-size:11px;
    line-height:11px;
}
.bloc_filtre_supplementaire {
    position:absolute;
    top:0;
    bottom:0;
}

.libelle_filtre_bk {
    position:absolute;
    left:0;
    bottom:0;
    line-height:20px;
}
.input_filtre_bk {
    position:absolute;
    right:0;
    bottom:0;
}